
    @media (max-width: 480px) {
        #logout {
            display: none;
        }

        nav{
            padding: 5px;
            font-size: 15px;
        }
        nav span{font-size: 18px;}
        nav img{
            height: 50px;
        }
        .main{
            padding-top: 120px;
            padding-bottom: 80px;
        }
        .main h1{
            font-size: 60px;
            padding-bottom: 30px;
            
        }
        .main br{
            display: none;
        }
        .main h2 {
            font-size: 30px;
        }
        .animated-text {
            color: #333;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUp 3s infinite ease-in-out; /* Animation name, duration, and state retention */
          }
          
          /* Define the animation */
          @keyframes fadeInUp {
            0% {
              opacity: 0;
              transform: translateY(100px);
            }
            100% {
              opacity: 1;
              transform: translateY(0);
            }
        }
        .user-content{margin-left: -130px;}
        header{
            margin-left: 0;
            padding: 10px;
           
        }
        
         #ebox{
            width: 46%;
            height: 60%;
        }
        #cards{ width: 100%;}
        .eventdiv-content{
            margin: 22% auto;
            width: 80%;
        }
        #form{
            width: 93%;
            margin-left: 13px;
            top: 80px;
        }
        #form label {
            font-weight: bold;
            margin-left: 15px;
            margin-right: 10px;
            font-size: 15px;
            /* margin-bottom: 0px; */
          }
          #form h1 {
            font-size: 25px;
            margin-bottom: 10px;
          }
          #form input {
            margin-bottom: 10px;
            height: 27px;
          }
    }